*{box-sizing: border-box;}



.naver{
    display: flex;
    border:1px none lightgrey;
    font-size: 4em;
    color : green;
    font-weight: 900;
    position: relative;
    bottom: 30px;
    left :94px;
    width: 230px;
}

.background{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid lightgrey;
    background-color:rgb(233, 229, 229);
    width:100vw;
    height: 100vh;
}


.input1 input{

    width:370px;
    height: 40px; 
}

.input1 button{
    width:370px;
    height: 40px; 
}

.eye{
    position: absolute;
    top:0px;
    width: 30px;
    height: 30px;
    right :1px;
}

.span{
    position: relative;
}


.label1{
    position: relative;
    width:10px;
    height: 20px; 
    font-size:20px ;
    bottom:10px;
    left:90px;
}
.label2{
    position: relative;
    width:10px;
    height: 20px; 
    font-size:20px ;
    bottom:10px;
    left:130px;

}

.input1 .radio2{
    position: relative;
    width: 25px;
    top:10px
}
.input1 .radio3{
    position: relative;
    width: 25px;
    top:10px
    
}
.word{
    font-size: 20px;
    font-weight: 700;
    color:black;
    text-decoration: none;
}

.word :visited{
    color:black;
    text-decoration: none;
}




