*{box-sizing: border-box;}



.naver{
    font-size: 5em;
    color : green;
    font-weight: 900;
    position: relative;
    bottom: 70px;
    left : 80px;
}

.background{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid lightgrey;
    background-color:rgb(233, 229, 229);
    width:100vw;
    height: 100vh;
}


.input1 input{

    width:370px;
    height: 40px; 
}

.input1 button{
    width:370px;
    height: 40px; 
}











