*{box-sizing: border-box;}



.naver{
    display: flex;
    border:1px none lightgrey;
    font-size: 5em;
    color : green;
    font-weight: 900;
    position: relative;
    bottom: 70px;
    left : 80px;
    width: 230px;
}

.background{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid lightgrey;
    background-color:rgb(233, 229, 229);
    width:100vw;
    height: 100vh;
}


.input1 input{

    width:370px;
    height: 40px; 
}

.input1 button{
    width:370px;
    height: 40px; 
}

.eye{
    position: absolute;
    top:0px;
    width: 30px;
    height: 30px;
    right :1px;
}

.span{
    position: relative;
}








